*{margin: 0;
    padding: 0;
   
    font-family: "Plus Jakarta Sans", sans-serif;
     box-sizing: border-box;
    
    
}
body{
     background-color: FFFEFA;
}
#hero{
    /* margin */
    padding: 60px 0 80px 0;
    background-color: #FFFEFA;
} 